<!DOCTYPE html>
<html>
  <head>
    <title>Project Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
        </div>
        <div id="yeild-div" class="col-md-6">
          <h1>Project Tracker</h1>
          <button class="btn-warning"><a href="/">HOME</a></button>
          <button class="btn-warning"><a href="/volunteers">Volunteers</a></button>
          <%= yield %>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </body>
</html>