<h2> <%= @project.title %></h2>

<form action="/projects/<%= @project.id %>" method="post">
  <label for="project_title">Update project title?</label>
  <br>
  <input name="_method" type="hidden" value="patch">
  <input id="project_title" name="project_title" type="text">
  <button type="submit" class="btn-success">Submit</button>
</form>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="btn-warning">Delete Project?</button>
</form>

<p> Add a volunteer to this project! </p>
