<form action="/volunteers" method="post">
  <div class="form-group">
    <label for="volunteers_name">Volunteer Name:</label>
    <input type="text" name="volunteer_name" id="volunteer_name" class="form-control">
  </div>
  <p> Volunteers will be randomly assigned a project to work on.  This can be changed later </p>
  <button class="btn-success">Add volunteer to system</button>
</form>
<% if @volunteers %>
<h3> Our volunteers:</h3>
<h4> Click on a volunteer to see their details: <h4>
  <ul>
  <% @volunteers.each do |volunteer| %>
    <li><a href="/volunteers/<%= volunteer.id %>"> <%= volunteer.name %></a></li>
  <% end %>
  </ul>
<% end %>  