<% if @volunteers %>
<h3> Our volunteers:</h3>
<h4> Click on a volunteer to see their details: <h4>
  <ul>
  <% @volunteers.each do |volunteer| %>
    <li><a href="/volunteers/<%= volunteer.id %>"> <%= volunteer.name %></a></li>
  <% end %>
  </ul>
<% end %>  