<h2> <%= @volunteer.name %></h2>
<h2> <a href="/projects/<%= @volunteer.project_id %>">Click here to their current project!</a></h2>


<form action="/volunteers/<%= @volunteer.id %>" method="post">
  <label for="name">change volunteers name?</label>
  <br>
  <input name="_method" type="hidden" value="patch">
  <input id="name" name="name" type="text">
  <button type="submit" class="btn-success">Update volunteer</button>
</form>